.about_data_button{
    background-color: #333333;
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.about_data{
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    margin-top: 5px;
     
}

.about_data_button i{
    margin-left: 8px;
}

.about_data p{
    margin-top: 2px;
    margin-bottom: 2px;
}

.no_link{
    color: aliceblue;
    text-decoration: none;
}

.about_box{
    display: flex;
    margin-top: 10px;
}

.box{
    background-color: #222222;
    border-radius: 7px;
    width: 130px;
    margin: 10px;
    text-align: center;
    padding: 10px;
}