@font-face {
    font-family: Poppins ;
    src: url("../fonts/Poppins-Light.ttf");
}


html{
    font-family: Poppins ;
    background-color: #121211;
    color: aliceblue;
}

.container{
    max-width: 1200px;
    min-width: 800px;
    display: flex;
}

nav{
    max-width: 50%;
    height: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: #1A1A1A;
    align-items: center;
    justify-content: center;

}


.nav_icon{
    width: 120px;
    border: 20px solid rgb(184, 103, 255);
    border-radius: 100px;
}

nav h2{
    margin-bottom: 2px;
    font-size: 35px;
}
nav h3{
    margin-top: 2px;
    font-size: 15px;
}

nav button{
    background-color: #333333;
    border: 0px;
    color: white;
    width: 200px;
    padding: 10px;
    margin: 7px;
    border-radius: 10px;
    font-family: Poppins ;
}

main{
    margin-top: 30px; 
    width: 1200px;
    max-width: 100%;
    padding-left: 30px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

main h1{
    margin-bottom: 0px;
}

main h2{
    margin-top: 5px;
}

.lilac{
   color: rgb(184, 103, 255);
}

.about{
    background-color: #333333;
    padding: 10px;
    width: 90px;
    border-radius: 20px;
}